{% extends "base.html" %}
{% load staticfiles %}

{% block block_autoloader %}
  <script>
    $("#navbarSupportedContent").find(".active").removeClass("active")
    $("#mssql").addClass("active")
  </script>
{% endblock block_autoloader %}  

  {% block page_navigator %}
    <div class="page_navigator bg-info">
      <a href="{% url 'projectindex' %}" class="text-white">Home</a>
      <ul>
        <li><i class="fa fa-angle-double-right" style="font-size:24px;color:white"></i></li>
        <li><a href="{% url 'mssql:index' %}" class="text-white">MSSQL</a></li>
      </ul>
    </div>
  {% endblock page_navigator %}

  {% block body_block %}
      <!-- Anything outside of this block will be inherited -->
  {% endblock body_block %}