{% extends "mssql/base.html" %}

{% block page_navigator %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'projectindex' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'mssql:index' %}">MSSQL</a></li>
      <li class="breadcrumb-item"><a href="{% url 'mssql:database' %}">Database</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
  </nav>
{% endblock page_navigator %}

{% block body_block %}
  <div class="container">
    <div class="card">
      <h5 class="card-header">Add Database</h5>
      <div class="card-body">

        {% if returnSuccessMessage %}
          <h5 class="card-title">{{ returnSuccessMessage }}</h5>
        {% else %}
          {% if form %}
            <h5 class="card-title">Kindly provide below details for Database:-</h5>

            {% if returnErrorMessage %}
              <div class="text-danger">{{ returnSuccessMessage }}</div>
            {% endif %}

            <form method="POST">
              {% csrf_token %}
              <p class="card-text">
                {{ form.as_p }}
              </p>
              <input type="submit" class="btn btn-primary" name="Add Database" value="Add Database">
            </form>
          {% endif %}
        {% endif %}
      
      </div>
    </div>
  </div>
{% endblock body_block %}