<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <Link rel="stylesheet" type="text/css" href='{% static "css/mystyle.css" %}' >
  <title>Database Inventory</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->

      <a class="navbar-brand" href="{% url 'index' %}"><img src='{% static "images/DbFileExplorer_Logo1.png" %}' width="45" height="45" alt='LOGO'>TivoDb Inventory</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="mssql">
            <a class="nav-link" href="{% url 'mssql:mssqlindex' %}">SQL Server <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MySQL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MongDb</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hadoop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Oracle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'quiz:quizindex' %}">Quiz</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find</button>
        </form>

        <ul class="nav navbar-nav  my-2 my-lg-0 mx-4">
          <li><a href="{% url 'users:register' %}"><span class="nav-item mx-2"></span> Login</a></li>
          <li><a class="nav-item mx-2" href="#"><img src='{% static "images/cart01.png" %}' width="40" height="40" alt='LOGO'></a></li>
          <li><a href="#" class="nav-item mx-2">Help</a></li>
        </ul>       
        
      </div>
  </nav>

  {% block block_autoloader %}
    <!-- Some JavaScript that should autoload -->
  {% endblock block_autoloader %}
  

  {% block page_navigator %}
    <!-- Page Navigation Links will appear here
          Home > SqlServer > Category > Table > Action
    -->
  {% endblock page_navigator %}

  {% block body_block %}
      <!-- Anything outside of this block will be inherited -->
  {% endblock body_block %}

</body> 

</html>