{% extends "users/base.html" %}

{% block body_block %}
<div class="jumbotron">

  {% if loggedin %}
    <h1> You have successfully logged in! </h1>
  {% else %}
    <h1>Please Login</h1>
</div>

<div class="container card">
  <form action="{% url 'users:user_login' %}" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  <div class="card-body">
    <h5 class="card-title">Kindly provide login details:-</h5>
    <p class="card-text">{% include "form_snippet.html" with form=login_form %}</p>
    <input type="submit" name="" value="Login"  class="btn btn-primary col-auto">
  </div>
  <div class="card-body">
    <p>If you are a new user, then <a href="{% url 'users:register' %}" class="btn btn-primary">Register</a></p>
  </div>
  </form>
  <div class="card-footer text-muted">
    <p>The time is {% now "d-M-Y g:i a T" %}</p>
    {% comment %} {% load tz %}
        The UTC time is {{ object.date }}
    {% localtime on %}
        The local time is {{ object.date }}
    {% endlocaltime %} {% endcomment %}
  </div>
</div>
  {% endif %}
{% endblock body_block %}